---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
{
    date: "September 2024 - Now",
    title: "AI Engineer",
    company: "Protecso",
    description:
      "I have designed and deployed over 10 intelligent agents to automate services in sectors such as restaurants, transportation, and startups, using multi-agent architectures capable of handling thousands of users. With tools like Langchain and Langraph, I’ve built resilient systems and optimized agent interactions. My responsibilities include implementing and testing AI agents, documenting their behavior, and enhancing performance. I’ve also collaborated on their integration and validation in cloud environments like AWS and Azure.",
    link: "https://protecso.io/",
  },
{
    date: "December 2023 - September 2024",
    title: "Full Stack AI Developer",
    company: "Doubleclics",
    description:
      "Redesigned the company's website using Next.js. Integrated a chatbot for assistance and support, managed the hosting and domain setup. Enhanced SEO, optimized site performance, analyzed traffic with Google Analytics, and configured the page to protect it from DDoS attacks.",
    link: "https://doubleclics.com/",
  },
  {
    date: "June 2023 - December 2023",
    title: "FullStack Volunteer",
    company: "Eneisoft",
    description:
      "Developed the official website for the national software engineers' meeting. The site's high quality attracted investors, who generously donated scholarships, ensuring substantial prizes for participants and enriching conferences during the event.",
    link: "https://www.linkedin.com/company/eneisoft/",
  },


]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
