---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [

{
    date: "January 2024 - Now",
    title: "Full Stack Developer",
    company: "Doubleclics",
    description:
      "Redesigned the company's website using Next.js. Integrated a chatbot for assistance and support, managed the hosting and domain setup. Enhanced SEO, optimized site performance, analyzed traffic with Google Analytics, and configured the page to protect it from DDoS attacks.",
    link: "https://doubleclics.com/",
  },
  
  {
    date: "July 2023 - December 2023",
    title: "Web Developer",
    company: "Huawei",
    description:
      "Implemented microservices hosted on Huawei Cloud to manage backend operations and facilitate communication between different system components.",
    link: "https://andina.pe/agencia/noticia-hackaton-huawei-premia-a-tres-proyectos-universitarios-peruanos-922628.aspx",
  },
  {
    date: "2023 - Now",
    title: "LLMs Integration Specialist",
    company: "Médula",
    description:
      "Developed intelligent chatbots using Large Language Models like GPT-4 and Claude, transforming natural language inputs into structured data to interact with the rest of the web system, including Google Cloud and AWS services. Also configured servers and deployed code, being responsible for continuous integration and infrastructure maintenance.",
    link: "https://www.medula.tech/",
  },

  {
    date: "2022 - 2023",
    title: "Full Stack Developer",
    company: "Médula",
    description:
      "Designed and developed web applications using React for various sites, including those for restaurants, clinics, social networks, and tech startups. Implemented key features including a 'contact' section for sending emails and integration of a payment gateway.",
    link: "https://www.medula.tech/",
  },
  {
    date: "June 2022 - October 2022",
    title: "Frontend Developer",
    company: "Eneisoft Volunteering",
    description:
      "Developed the official website for the national software engineers' meeting. The site's high quality attracted investors, who generously donated scholarships, ensuring substantial prizes for participants and enriching conferences during the event.",
    link: "https://www.linkedin.com/company/eneisoft/",
  },
]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
