---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
{
    date: "February 2022 - Now...",
    title: "Automation Engineer",
    company: "Doubleclics",
    description:
      "Design, implementation, management, and maintenance of company websites using React and NextJs. Develop, execute, and maintain performance test scripts for stress, load, and endurance testing. Use tools such as Grafana, Docker, Jenkins, and InfluxDB to monitor and analyze test results.",
    link: "https://doubleclics.com/en",
  },
  {
    date: "October 2023 - December 2023",
    title: "Cloud Engineer",
    company: "Huawei Developer Competition",
    description:
      "Dandelion optimizes the visual representation of data through its graph-based grouping system and robust multi-platform support.My contribution to the team was the implementation of microservices hosted in the Huawei cloud.This project reached the semifinals in the Huawei Developer Competition LATAM 2023.",
       link: "https://andina.pe/agencia/noticia-hackaton-huawei-premia-a-tres-proyectos-universitarios-peruanos-922628.aspx",
  },
    {
    date: "June 2023 - October 2023",
    title: "Frontend Developer",
    company: "Eneisoft Volunteering",
    description:
      "Developed the official website for the national software engineers' meeting. The site's high quality attracted investors, who generously donated scholarships, ensuring substantial prizes for participants and enriching conferences during the event.",
       link: "https://www.linkedin.com/company/eneisoft/",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
