---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "December 2023 - Now...",
    title: "Mobile Developer",
    company: "Next code",
    description:
      "I actively participated in all stages of the development of Flitgo, an application that simplifies logistics processes for e-commerce companies by allowing them to easily manage the shipment and reception of packages through Excel files or from their own website. In the integration of functionalities related to maps, I used Google Cloud's microservices. Additionally, I completely redesigned the visual interface.",
    link: "https://nextcode.global/",
  },
  {
    date: "October 2023 - December 2023",
    title: "Cloud Engineer",
    company: "Huawei",
    description:
      "Dandelion optimizes the visual representation of data through its graph-based grouping system and robust multi-platform support.My contribution to the team was the implementation of microservices hosted in the Huawei cloud.This project reached the semifinals in the Huawei Developer Competition LATAM 2023.",
       link: "https://andina.pe/agencia/noticia-hackaton-huawei-premia-a-tres-proyectos-universitarios-peruanos-922628.aspx",
  },
    {
    date: "June 2023 - October 2023",
    title: "Frontend Developer",
    company: "Eneisoft",
    description:
      "Developed the official website for the national software engineers' meeting. The site's high quality attracted investors, who generously donated scholarships, ensuring substantial prizes for participants and enriching conferences during the event.",
       link: "https://sistemas.unmsm.edu.pe/eneisoft/",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
